body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: darkred;
}

button {
    text-align: center;
}

.pixel {
    flex-grow: 1;
}

#surface {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: white;
    min-width: 800px;
    max-width: 800px;
    min-height: 800px;
    max-height: 800px;
}